name: CI

on:
  workflow_dispatch:
  push:
#    branches:
#      - 'main'
#    paths:
#      - 'scenario-task'
    paths-ignore:
      - '.github/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    name: CI Build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 8
          cache: maven
      - name: Build kafka-samples
        run: ./mvnw -B package
        working-directory: kafka-samples
      - name: Build multi-io-samples/ticktock
        run: ./mvnw -B -Dmaven.javadoc.skip=true clean install jib:dockerBuild -pl multi-output-time-rabbit,multi-input-log-rabbit,multi-output-time-kafka,multi-input-log-kafka
        working-directory: multi-io-samples/ticktock

#  publish:
#    needs: [build]
#    name: Call Publish Snapshot
#    uses: spring-cloud/spring-cloud-dataflow-samples/.github/workflows/ci-publish.yml@main
#    secrets:
#      jfArtifactorySpring: ${{ secrets.JF_ARTIFACTORY_SPRING }}
